<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>공학설계입문</title>
</head>
<!--<body>-->
<!--    <script type='text/javascript'>-->
<!--        function goGrade(){-->
<!--            location.href ="/new";-->
<!--        }-->
<!--        function goList(){-->
<!--            location.href ="/students";-->
<!--        }-->
<!--    </script>-->
<h1>2021학년도 공학설계 입문 학생 채점 페이지 입니다.</h1>
<br><br>
<h2>제출 기한이 마감되었습니다.</h2>
<h2>한 학기 동안 고생하셨습니다.</h2>

<!--<button type="button" onclick="goGrade()">채점 하기</button>&nbsp;&nbsp;&nbsp;&nbsp;-->
<button type="button" onclick="goList()">제출 확인</button>

</body>
</html>