html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  overflow-x: hidden;
}

.deth1 {
  position: fixed; /*스크롤을 내려도 사라지지 않게끔 변경 */
  /*테두리 제거해볾*/
  width: 240px; /*20% -> 300px, 퍼센트로 두면 화면 크기에 따라 짤려버림 */
  /*20% -> 220px, 퍼센트로 두면 화면 크기에 따라 짤려버림 */
}

.page {
  position: absolute;
  padding-top: 5px;
  left: 258px;
  background-color: #f1f1f1;
}

.user {
  display: flex;
  height: 95px;
  background-color: rgb(165, 148, 148);
  border: 2px solid #ccd0d4;
  background-color: #f7f9fa;
  border-radius: 10px;
  padding-right: 20px;
}

.user_left {
  width: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user_left_human_avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  background-color: white;
  border: 1px solid #ccd0d4;
}

#cog {
  margin-top: 40px;
  margin-left: 40px;
  position: absolute;
}
.cog {
  font-size: 18px;
  color: gray;
}

.human_avatar {
  font-size: 25px;
  color: #ccd0d4;
  overflow: hidden;
}

.user_right {
  width: 138px;
  display: flex;
  flex-direction: column;
}

.user_right_inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
  width: 130px;
}

.user_right_username {
  font-size: 13px;
  font-weight: bolder;
  font-style: italic;
}
.user_right_logout {
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 25px;
  background-color: #ccd0d4;
  color: white;
}

.user_right_useremail {
  font-size: 11px;
  border-bottom: 1px solid #ccd0d4;
}

.user_right_button {
  display: flex;
  justify-content: space-between;
}

.user_right_button_option {
  padding-top: 10px;
  font-size: 12px;
  border-bottom: 1px solid gray;
}

.Title {
  font-weight: 500;
  font-size: 15px;
}

.Title > td {
  height: 40px;
  width: 240;
  padding: 0px 0px 0px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Title_more {
  margin-right: 15px;
  margin-top: 5px;
  text-align-last: right;
  font-size: 11px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 25px;
  opacity: 80%;
  color: gray;
}

.plus {
  color: rgba(0, 0, 0, 0.5);
  font-size: 5px;
}

.friend {
  margin-top: 12px; /*좀 떼어놓으려함*/
  padding-top: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
}

.friendDiv {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.fried1Frofile {
  width: 30px;
  height: 30px;
  border-radius: 70%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.friendDiv_name {
  padding-left: 30px;
  color: #030303;
  font-weight: lighter;
}
.online {
  margin-top: 20px;
  margin-left: 22px;
  background-color: rgba(204, 71, 53, 0.952);
  width: 10px;
  height: 10px;
  border-radius: 25px;
  position: absolute;
}
.friendDiv_number {
  padding-right: 30px;
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
  color: #4bb6ca;
}

.img {
  height: 35px;
  width: 35px;
}

.mail {
  margin-top: 24px;
  background-color: rgb(255, 112, 60);
  height: 130px;
}

.mail > span {
  color: white;
}

.fontA {
  padding: 12px 10px 10px 10px;
  float: left;
}

.textdiv {
  text-align: left;
  padding-top: 12px;
}

.textdiv > p {
  color: white;
  margin: 0px;
  padding-bottom: 5px;
}

.inputDiv {
  padding-top: 0px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fontA1,
.fontA2 {
  font-size: 18px;
  display: inline;
  color: white;
}

.credit {
  padding-top: 24px;
  padding-left: 15px;
  font-size: 11px;
  font-weight: lighter;
  background-color: rgba(0, 0, 0, 0.06);
  height: 110px;
  color: rgba(0, 0, 0, 0.6);
}

.credit > p {
  margin-top: 10px;
  margin-bottom: 0px;
}

.user_right_logout:hover {
  background-color: #4bb6ca;
}
.Title_more:hover {
  background-color: #4bb7caa6;
  color: white;
}
